
@{
    ViewBag.Title = "Index";
}

<div id="content"></div>

@section scripts {
    <script src="~/Scripts/react-0.13.1.js"></script>
    @Scripts.Render("~/bundles/flux")
    @Scripts.Render("~/bundles/bugs")
    <script src="~/Scripts/app/bugs/index.jsx"></script>

    <script type="text/javascript">
         var bugsTempList = [
             { id: 1, title: "Sample Bug 1", status: 0 },
             { id: 2, title: "Sample Bug 2", status: 0 },
             { id: 3, title: "Sample Bug 3", status: 0 },
             { id: 4, title: "Sample Bug 4", status: 1 },
             { id: 5, title: "Sample Bug 5", status: 1 },
             { id: 6, title: "Sample Bug 6", status: 1 },
             { id: 7, title: "Sample Bug 7", status: 2 },
             { id: 8, title: "Sample Bug 8", status: 2 },
             { id: 9, title: "Sample Bug 9", status: 2 }
         ];
         React.render(new BugsFactory({ bugs: bugsTempList }), document.getElementById('content'));
    </script>
}