@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using UnfDatabaseAndEFDemoApp.Domain;

@model IEnumerable<BugListItem>
@{
    ViewBag.Title = "Index";

    var camelCaseFormatter = new JsonSerializerSettings();
    camelCaseFormatter.ContractResolver = new CamelCasePropertyNamesContractResolver();
    var bugs = JsonConvert.SerializeObject(Model, camelCaseFormatter);
}

@section scripts {
    <script src="~/Scripts/react-0.13.1.js"></script>
    @Scripts.Render("~/bundles/flux")
    @Scripts.Render("~/bundles/bugs")
    <script src="~/Scripts/app/bugs/index.jsx"></script>

    <script type="text/javascript">
         React.render(new BugsFactory({ bugs: @Html.Raw(bugs) }), document.getElementById('content'));
    </script>
}

<div id="content"></div>