
@{
    ViewBag.Title = "Index";
}

<div id="content"></div>

@section scripts {
    <script src="~/Scripts/react-0.13.1.js"></script>
    @Scripts.Render("~/bundles/flux")
    @Scripts.Render("~/bundles/bugs")
    <script src="~/Scripts/app/bugs/index.jsx"></script>
}